
.submission-guidelines__item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.submission-guidelines__text {
    margin-bottom: 0;
}

.submission-guidelines__sublist {
    list-style: none;
}