.benefit-hero__bg {
    background: url('/images/bg_hero.png') center center/cover no-repeat;
    min-height: 300px;
}

.benefit-hero__title {
    font-size: 64px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
}